@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@500&display=swap');


@font-face {
    font-family: varelaround;
    src: url(../media/fonts/varela-round/VarelaRound-Regular.otf);
  }


body{
 background-image: url(../media/images/green.jpg);
  
}
h1{
    text-align: center;
    font-family: varelaround;
    
}



h2{
    text-align: center;
    font-family: varelaround;
    text-decoration: underline;
}



.instructions{
text-align: center;
font-family: 'Handjet', cursive;
font-size:20px;
margin:auto;
width:700px;
line-height: 25px;
background-color: white;
border:solid 5px rgb(147, 255, 147); 
border-radius:8px;
}



div.container {
    text-align: center;}
  
  ul.myUL {
    display: inline-block;
    text-align: center;
    font-family: 'Handjet', cursive;
    font-size:20px; 
    border: solid 5px rgb(147, 255, 147); 
    background-color: white;
     width:200px;
    border-radius: 8px;
  }
  
  iframe{
    position:relative;
    left:350px;
    top:20px;
  }



.back{
    border:none;
    background-color:transparent;
    padding: 10px;
    font-family: varelaround;
    font-size: 15px;
    position:absolute;
    left:600px;
    top:1380px;
  }

  .gif{
    position: absolute;
    top:1050px;
    left:400px;
  }